* {
  margin: 0;
  padding: 0;
}
#wrapper {

}
.header-bot {
  background: #fff;
  padding: 15px 0;
  border-bottom: 2px solid #ee4949;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .35s ease-in-out;
  -ms-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}
.menu-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  background: rgba(255,255,255,0.9);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.mcn-logo{}
.pull-left{
  float: left !important;
}
.mcn-menu{
  height: auto;
  text-align: center;
}
.pull-right {
  float: right !important;
}
.clear {
  clear: both;
}
ul {
  list-style: none;
}
ul.menu li {
  float: left;
  text-transform: uppercase;
  padding: 0px;
  position: relative;
  margin-right: 35px;
}
ul.menu li a {
  display: block;
  font: 600 14px/20px 'Open Sans', sans-serif;
  border-bottom: 1px solid #fff;
  color: #333;
  padding: 15px 0;
  overflow: hidden;
}
ul.menu li:hover a, ul.menu li.active a {
  color: #ee4949;
  border-color: #ee4949;
  text-decoration: none;
}
a:link, a:visited, a:hover, a:focus {
  text-decoration: none;
}
.mcn-menu ul.menu li ul {
  border-top: 2px solid rgb(255, 255, 255);
  padding-top: 10px;
  position: absolute;
  width: 300px;
  visibility: hidden;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
  margin-left: -120px;
  left: 0px;
  top: 95px;
  text-align: left;
}
.mcn-menu ul.menu li ul li {
  float: none;
  padding: 0 0 0 75px;
  margin-right: 0;
  display: block;
  text-align: left;
  border: none;
}
.mcn-menu ul.menu li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 74px;
  left: 0;
  border-color: #ee4949;
}
.camera_wrap {
  height: 801px;
  display: block;
}
.mcn-slider .camera_wrap {
  margin-bottom: 0 !important;
}
.mcn-project {
  margin-bottom: 50px;
  overflow: hidden;
  margin-top: 49px;
}
.mc-title {
  margin-bottom: 30px;
}
.text-center {
  text-align: center;
}
.mcn-title h3 {
    font: 400 15px/20px 'Utm-Avo';
    color: #ed3237;
    text-transform: uppercase;
    display: block;
    padding-bottom: 18px;
}
.mcn-title h2 {
  position: relative;
}
.mcn-title h2::after {
  content: '';
  position: absolute;
  top: -12px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ff9900;
  display: inline-block;
  z-index: -999
}
.mcn-title h2 span::before {
  content: '';
  display: block;
  height: 1px;
  position: absolute;
  top: -12px;
  left: 0;
  background: white;
  width: 100%;
}
.mcn-title h2 a {
  color: #ed3237;
}
.mcn-title h2 span {
    font: 400 25px/20px 'utm-hanzel';
    color: #ed3237;
    text-transform: uppercase;
    padding: 0px 10px;
    background: #fff;
    display: inline-block;
    position: relative;
}

/*Block news*/
.mcn-block-news {
  margin-bottom: 50px;
}
.text-align {
  text-align: left;
}
.title-custom {
  margin-bottom: 15px;
}
.title-custom h2 {
  font: normal 20px/20px 'utm-hanzel';
  color: #ed3237;
  text-transform: uppercase;
}
.title-custom h2::after {
  content: '';
  display: block;
  height: 3px;
  margin: 15px 0 0;
  width: 40px;
  background: #ee4949;
}
.news-home ul.lst-news::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 3px solid #f00;
  border-right: 3px solid #f00;
  position: absolute;
  right: -2px;
  bottom: -2px;
}
.news-home ul.lst-news::after {

    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-bottom: 3px solid #f00;
    border-right: 3px solid #f00;
    position: absolute;
    right: -2px;
    bottom: -2px;

}
::before, ::after {

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
.news-home ul.lst-news::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-top: 3px solid #f00;
  border-left: 3px solid #f00;
  position: absolute;
  left: -2px;
  top: -2px;
}
